*{
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}
.slide
{
 width:95%;
  margin:auto;
  overflow:hidden;
}
.slide ul
{
display: flex;
padding: 0;
width: 300%;
  animation: cambio 20s infinite;
}
 .slide li
  {
    
   width: 100%;
list-style: none;
  }
  
  .slide img
  {
   width:100%; 
  }

.slide2
{
 width:95%;
  margin:auto;
  overflow:hidden;
}
.slide2 ul
{
display: flex;
padding: 0;
width: 600%;
  animation: cambio2 60s infinite;
}
 .slide2 li
  {
    
   width: 100%;
list-style: none;
  }
  
  .slide2 img
  {
   width:100%; 
  }






body {

background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
   text-align: center;
  overflow: hidden;
  background-color: black;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.com
{
  width:85px;
  height:85px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: gray;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body{
  background-color: #091235;
  font-family: sans-serif;
  background-size: cover;
   background-position: center; 
  background-repeat: repeat; 
color: white;
}

.container{
  margin: auto;
  width: 1200px;
  height: 750px;
  padding: 30px;
   
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
  position: relative;
  width: 1300px;
  height: 625px;
}
.log
{
background: url("https://i.pinimg.com/originals/cc/a2/f0/cca2f03e5d6286eeaa1e129d9fc9fc7a.jpg");	
}
ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: 1200px;
    height: initial;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1; 
}

.menu{
  text-align: center;
  margin: 20px;
  width: 1200px;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}

.contenedort{
  margin-left : 250px;
   padding: 30px;
   
}

.table1
{
  margin-left: 150px;
   padding: 30px;
  
}
footer {
  text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
}
td
{
 font-size: 25px;
  padding: 30px;
 }
.imagecon
{
width: 100%;
height: 100%;
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
pointer-events: auto;
position: relative;
margin: 0px 0px 22px calc((100% - 980px) * 0.5);
}
.cont
{
display: -ms-grid;
display: grid;
-ms-grid-rows: max-content max-content min-content max-content;
grid-template-rows: -webkit-max-content -webkit-max-content -webkit-min-content -webkit-max-content;
grid-template-rows: max-content max-content min-content max-content;
-ms-grid-columns: 100%;
grid-template-columns: 100%;
align-items: start;
justify-content: stretch;
}
span
{
color:skyeblue;
}
a
{
 text-decoration: none;
color: lightskyblue;
 
}
.text
{
 width:921px;
   position: relative;
margin: 0px 0px 22px calc((100% - 980px) * 0.5);
}
.conte
{
  
position: relative;
margin: 0px 0px 20px calc((100% - 980px) * 0.5);
left: 56px;
grid-area: 5 / 1 / 6 / 2;
justify-self: start;
align-self: start;
}
.text2
{
  width:869px;
  position: relative;
margin: 0px 0px 39px calc((100% - 980px) * 0.5);
left: 56px;
grid-area: 6 / 1 / 7 / 2;
justify-self: start;
align-self: start;
}
.f
{
  font-size:16px;
  line-height:1.3em;
}
.f8
{
  
 font-size:16px; 
  line-height:1.3em; 
  text-align:justify ;
}
.dd
{
 overflow-wrap: break-word;
text-align: start;
pointer-events: none; 
}
.frau
{
 padding:15px;
  width:45px;
  height:45px;
}
p
{
  width: 900px;
}
.f7
{
line-height:1.52em; 
  line-height:1.52em;
  
}
.conte2
{
  position: relative;
margin: 0px 0px 20px calc((100% - 980px) * 0.5);
left: 56px;

justify-self: start;
align-self: start;
}
.fd
{
  background-image: url("https://static.wixstatic.com/media/cd9bec_9719f29f0b014e8a89531cddca57fa87~mv2.png/v1/fill/w_491,h_241,al_c,q_85,usm_0.66_1.00_0.01/COMPU_edited.webp");
  background-size: cover;
}
.conte3
{
      position: relative;
    margin: 0px 0px 0px calc((100% - 945px) * 0.5);
    right: 250px;
}

@keyframes cambio 
{
  0% { margin-left:0;}
   30% { margin-left:0;}
   33% { margin-left:-100%;}
   63% { margin-left:-100%;}
  66% { margin-left:-200%;}
  96% { margin-left:-200%;}
  
}


ul{list-style-type: none;}

.calendario{
	width: 100%;
	max-width: 75%;
	background: #E3E3E3;
}

.calendario .titulo{
	width: 100%;
	height: auto;
	background: #1ABC9C;
}

.calendario .titulo ul{
	width: 100%;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.calendario .titulo ul li{
	color: #FFF;
	font-size: 1.3em;
	text-align: center;
}

.calendario .titulo ul li span{
	font-size: 14px;
	display: block;
}

.calendar .titulo ul li.pr,
.calendar .titulo ul li.ne{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	font-size: 20px;
	cursor: pointer;
	line-height: 40px;
	transition: background 0.3s ease;
}

.calendario .titulo ul li.pr:hover,
.calendario .titulo ul li.ne:hover{
	background: rgba(255, 255, 255, 0.1);
}

.calendario .titulo ul li.pr{
	left: 10px;
	position:absolute;
}

.calendario .titulo ul li.ne{
	right: 10px;
	position:absolute;
}



.calendario ul.dias-sema,
.calendario ul.dias{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.calendario ul.dias-sema{
	background: rgba(0, 0, 0, .1);
}

.calendario ul.dias-sema li{
	width: 13%;
	text-align: center;
	padding: 20px;
	color: rgba(0, 0, 0, .6);
}

logvi
{
background-color: #245e90;
background-image: url(../img/styles/login_pic_fon.png);
background-position: center 25px;
background-repeat: no-repeat	
}


.calendario ul.dias li{
	width: 13%;
	text-align: center;
	padding: 15px;
	color: rgba(0, 0, 0, .6);
	font-size: 12px;
}
.resumen
{
display: none;
position: absolute;
background-color: #2b95a6;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(11, 52, 210, 0.61);
z-index: 1;
width: 300;
bottom: 50;	
}

.resumen a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.resumen a:hover {
  background-color: #ddd;
}

.dropdown:hover .resumen {
  display: block;
}

.mensaje
{
padding: 1em;
border-radius: 8px;

width: 350;
background: #26304d;	
}


@keyframes cambio2
{
  0% { margin-left:0;}
   15% { margin-left:0;}
   17% { margin-left:-100%;}
   31% { margin-left:-100%;}
  33% { margin-left:-200%;}
  47% { margin-left:-200%;}
  49% { margin-left:-300%;}
  63% { margin-left:-300%;}
  66% { margin-left:-400%;}
  81% { margin-left:-400%;}
  84% { margin-left:-500%;}
  98% { margin-left:-500%;}
}
.accesos
{
	background: #26304d;
box-shadow: 0 1px 2px 0 rgba(51, 125, 189, 0.5);
margin: 1rem 0;
padding: 1em;
border-radius: 25px;
border: 1px solid #e8e8e8;
}
	
.familia{
          background-color: blueviolet;
          
          width: 600px;
      
          right: 300px;
          top: 775px;

        }
        h3{
          text-align: center;
        }




.contenido-compania{
	
    width: 950px;
    height: auto;
    /*border: 5px solid tomato;*/
    padding: 15px;
	position: relative;
    left: 100px;
	background-color: rgba(226, 106, 226, 0.363);
    border-radius: 25px;
}

